#nav-wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	text-align: center;
	position:absolute;
	border: 2px solid black;
	-webkit-transition: transform 2s; /* For Safari 3.1 to 6.0 */
    transition: transform 2s;
}

#about-nav {
	border: 2px solid red;
	position:absolute;
	font-size:3em;
	top:25%;
	left:45%;
	font-family: 'Trebuchet MS',Arial, sans-serif;
}

#portfolio-nav {
	border: 2px solid blue;
	position: absolute;
	font-size:3em;
	top:37%;
	left:44.5%;
	font-family: 'Trebuchet MS',Arial, sans-serif;

	/*-webkit-transition: transform 2s;  For Safari 3.1 to 6.0 */
    /*transition: transform 2s;*/

}

#contact-nav {
	border: 2px solid green;
	position: absolute;
	font-size:3em;
	top: 50%;
	left: 44%;
	font-family: 'Trebuchet MS',Arial, sans-serif;
}

.move-right {
	/*visibility: hidden;*/
	transform:translateX(60%);
}