* {
	margin: 0;
	padding: 0;
}

body {
	overflow-x: hidden;
	overflow-y: hidden;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: white; 
    text-decoration:none; 
    cursor:pointer;  
}

.container {
	/*overflow-x: hidden;*/
}
/*-------------------------------home navigation------------------------*/
#nav-wrapper {
    height: 100%;
    width: 100%;
    /*overflow-x: hidden;*/
    overflow: hidden;
    text-align: center;
    position:absolute;
    /*border: 2px solid black;*/
    display: table;
    -webkit-transition: transform 1s; /* For Safari 3.1 to 6.0 */
    transition: transform 1s;
}

#portfolio-nav,#about-nav,#contact-nav{
	display: table-cell;
	vertical-align: middle;
}

#about-nav {
    /*border: 2px solid red;*/
    position:absolute;
    font-size:3em;
    top:25%;
    left:45%;
    font-family: 'Trebuchet MS',Arial, sans-serif;
}

#portfolio-nav {
    /*border: 2px solid blue;*/
    position: absolute;
    font-size:3em;
    top:37%;
    left:43.5%;
    font-family: 'Trebuchet MS',Arial, sans-serif;
}

#contact-nav {
    /*border: 2px solid green;*/
    position: absolute;
    font-size:3em;
    top: 50%;
    left: 44%;
    font-family: 'Trebuchet MS',Arial, sans-serif;
}

/*--------------------------portfolio screen (from the left)----------------------*/
.project {
    -webkit-transition: .4s;
    -moz-transition:    .4s;
    -ms-transition:     .4s;
    -o-transition:      .4s;
    transition:         .4s;
    padding: .8em 50% .8em 45%;
    position: absolute;
    font-size:2.5em;

}

.project:hover {
    background-color: #0074D9;
    border-bottom: thick solid black;
    border-top: thick solid black;
}

#portfolio-wrapper {
	position:absolute;
        left:-100%;
	/*display: flex;*/
	/*justify-content: space-between;*/
	text-align: center;
	border: 2px solid orange;
	height: 100%;
	width: 100%;
	-webkit-transition: transform 1s;
	transition: transform 1s;
}

#project-one {
	top:25%;
}

#project-two {
	top:43%;
	left:-4%;
}

#project-three {
	/*border: 2px solid red;*/
	position: absolute;
	top:35%;
	left:-55%;
	font-size:3em;
}

#project-four {
	/*border: 2px solid red;*/
	position: absolute;
	top:40%;
	left:-63%;
	font-size:3em;
}

#project-five {
	/*border: 2px solid red;*/
	position: absolute;
	top:40%;
	left:-47%;
	font-size:3em;
}

#home-btn {
	/*border: 2px solid blue;*/
	position: absolute;
	top:12%;
	background: url(../img/home_icn.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 10vh;
	height: 10vh;
	margin-top: 1%;
	margin-left: 1%;
}

/*-----------------------CONTACT PAGE (FROM RIGHT TO LEFT)---------------------*/
#contact-wrapper {
    /*z-index: 1000;*/
    right:-100%;
    height: 100%;
    width: 100%;
    text-align: center;
    position:absolute;
    /*border: 2px solid red;*/
    -webkit-transition: transform 1s; 
    transition: transform 1s;
}

#twitter-btn {
	/*border: 2px solid green;*/
	position: absolute;
	top:30%;
	left: 26%;
	font-size:3em;
}

#github-btn {
	/*border: 2px solid green;*/
	position: absolute;
	top:30%;
	left: 35%;
	font-size:3em;
}

#linkedIn-btn {
	/*border: 2px solid green;*/
	position: absolute;
	top:30%;
	left: 44%;
	font-size:3em;
}

#email-btn {
	/*border: 2px solid green;*/
	position: absolute;
	top:30%;
	left: 53%;
	font-size:3em;
}

#home-btn-contacts {
	/*border: 2px solid blue;*/
	position: absolute;
	top:12%;
	left: 24%;
	background: url(../img/home_icn.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	width: 10vh;
	height: 10vh;
	margin-top: 1%;
	margin-left: 1%;
}

/*---------------------------about screen--------------------------*/
#about-wrapper {
    top: 100%;
    height: 100%;
    width: 100%;
    text-align: center;
    position:absolute;
    /*border: 10px solid blue;*/
    -webkit-transition: transform 1s; 
    transition: transform 1s;
}

#home-btn-about {
    /*border: 2px solid blue;*/
    position:absolute;
    top:12%;
    left:11%;
    background: url(../img/home_icn.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 10vh;
    height: 10vh;
    margin-top: 1%;
    margin-left: 1%;

}

#about-wrapper.move-down{
	transform: translateY(-100%);

}

#content-about {
	/*border: 2px solid green;*/
	position: absolute;
	top:40%;
	left: 0;
	vertical-align: middle;
	font-size:5vmin;
}


/*---------------------animation classes-------------------------*/

.move-right {
	transform:translateX(100%);
}

.move-left {
	transform:translateX(0%);
}

.move-left-to-contact {
	transform:translateX(-100%);
}

.move-down {
	transform: translateY(-100%);
	/*background-color: red;*/
}

.move-up {
    transform: translateY(0%);        
}
/*----------------------Miscellaneous------------------------------*/

/* Use later, planet icon as cursor for links
http://40.media.tumblr.com/6f35e78e0f80189f7fc89c036006571e/tumblr_n63gybzjY01rgnm98o1_1280.jpg
*/
